#check-status {
  margin: 0.5em;
  padding: 0.5rem 1.188rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

#categories-msg {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-family: 'Roboto Slab', serif;
}
