@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/roboto-slab-2');

body {
  background: #fafafa;
}

p {
  margin-block-start: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
